In [61]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## 导入数据与预处理

### ERα_activity

In [33]:
era = pd.read_excel('ERα_activity.xlsx')
era.head()

                                              SMILES  IC50_nM     pIC50
0  Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCC3)c4ccc(OCCN5C...      2.5  8.602060
1  Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCCCC3)c4ccc(OCCN...      7.5  8.124939
2  Oc1ccc(cc1)[C@H]2Sc3cc(O)ccc3O[C@H]2c4ccc(OCCN...      3.1  8.508638
3  Oc1ccc2O[C@H]([C@@H](CC3CCCCC3)Sc2c1)c4ccc(OCC...      3.9  8.408935
4  Oc1ccc2O[C@H]([C@@H](Cc3ccccc3)Sc2c1)c4ccc(OCC...      7.4  8.130768

In [62]:
erat = era.drop(columns=['SMILES'])
erapi = era['pIC50']
erapi.head()

0    8.602060
1    8.124939
2    8.508638
3    8.408935
4    8.130768
Name: pIC50, dtype: float64

In [14]:
era.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SMILES   1974 non-null   object
 1   IC50_nM  1974 non-null   float64
 2   pIC50    1974 non-null   float64
dtypes: float64(2), object(1)
memory usage: 46.4+ KB

In [15]:
era.describe()

            IC50_nM        pIC50
count  1.974000e+03  1974.000000
mean   9.910490e+03     6.586112
std    1.055204e+05     1.423023
min    4.600000e-02     2.455932
25%    2.702500e+01     5.382154
50%    2.625000e+02     6.580871
75%    4.148125e+03     7.568235
max    3.500000e+06    10.337242

In [35]:
print('ERα_activity.xlsx 数据集中异常值个数为{}'.format(era.isnull().any().sum()))

ERα_activity.xlsx 数据集中异常值个数为0

### Molecular_Descriptor

In [ ]:
mol = pd.read_excel('Molecular_Descriptor.xlsx')

In [39]:
mol.head()

,SMILES,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,...,MW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
0,Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCC3)c4ccc(OCCN5C...,0,-0.2860,0.081796,126.1188,74.170169,12,12,64,31,...,439.218115,64.771680,2.089409,15.471445,8.858910,3.406628,3011,47,4.666,166
1,Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCCCC3)c4ccc(OCCN...,0,-0.8620,0.743044,131.9420,80.357341,12,12,70,33,...,467.249415,68.960024,2.089698,15.486947,8.863774,3.406648,3516,54,5.804,174
2,Oc1ccc(cc1)[C@H]2Sc3cc(O)ccc3O[C@H]2c4ccc(OCCN...,0,0.7296,0.532316,139.9304,74.064997,18,18,62,33,...,463.181729,68.748923,2.083301,18.011114,11.390412,3.406644,3542,52,2.964,176
3,Oc1ccc2O[C@H]([C@@H](CC3CCCCC3)Sc2c1)c4ccc(OCC...,0,-0.3184,0.101379,133.4822,80.357341,12,12,70,33,...,467.249415,68.883696,2.087385,15.468365,8.857943,3.406624,3594,50,6.015,174
4,Oc1ccc2O[C@H]([C@@H](Cc3ccccc3)Sc2c1)c4ccc(OCC...,0,1.3551,1.836296,143.1903,76.356583,18,18,64,33,...,461.202465,68.883696,2.087385,15.468365,8.857943,3.406624,3594,50,4.462,174

In [50]:
molt = mol.drop(columns=['SMILES'])

In [51]:
molt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Columns: 729 entries, nAcid to Zagreb
dtypes: float64(359), int64(370)
memory usage: 11.0 MB

In [52]:
molt.describe()

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,MW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
count,1974.000000,1974.000000,1.974000e+03,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,...,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000,1974.000000
mean,0.108409,1.110164,3.288495e+00,116.557106,60.626471,15.446809,16.189463,50.761905,28.112462,22.649443,...,391.056697,57.770682,2.053493,15.656437,8.735564,4.821318,2709.616515,46.281662,2.965087,150.716312
std,0.347900,1.434250,1.283292e+01,31.567455,19.449748,5.155854,5.635271,18.089182,8.073881,10.775491,...,111.596103,16.523972,0.031515,7.781943,4.376340,5.595087,7194.525584,13.287751,1.615263,41.445444
min,0.000000,-23.105000,3.600000e-07,54.067000,30.661930,0.000000,0.000000,21.000000,14.000000,5.000000,...,194.094294,27.170552,1.927076,2.474468,0.000000,0.000000,349.000000,14.000000,-3.592000,62.000000
25%,0.000000,0.376300,4.052598e-01,88.303700,44.432102,12.000000,12.000000,36.250000,21.000000,14.000000,...,303.981576,43.723136,2.037907,11.258623,5.187130,2.432671,918.000000,36.000000,1.934750,116.000000
50%,0.000000,1.170950,1.560251e+00,114.837500,59.901376,16.000000,18.000000,50.000000,28.000000,22.000000,...,386.036615,56.726986,2.055335,14.958520,8.213370,3.406627,2053.000000,46.000000,2.828500,148.000000
75%,0.000000,1.948100,4.018823e+00,141.423650,74.421376,18.000000,18.000000,62.000000,34.000000,29.000000,...,463.195900,69.709078,2.075121,18.440536,11.348653,6.765083,3640.000000,55.000000,3.663000,182.000000
max,4.000000,5.181700,5.338410e+02,517.429400,359.662740,30.000000,34.000000,343.000000,163.000000,180.000000,...,2349.392344,318.076845,2.141958,182.633518,50.794729,125.737688,301690.000000,230.000000,14.283000,748.000000

In [53]:
print('Molecular_Descriptor.xlsx 数据集中异常值个数为{}'.format(molt.isnull().any().sum()))

Molecular_Descriptor.xlsx 数据集中异常值个数为0

In [54]:
# 相关系数矩阵
molt_corr = molt.corr()
molt_corr
#sns.heatmap(mol_corr, center=0, annot=True, cmap='YlGnBu') # take too much time

,nAcid,ALogP,ALogp2,AMR,apol,naAromAtom,nAromBond,nAtom,nHeavyAtom,nH,...,MW,WTPT-1,WTPT-2,WTPT-3,WTPT-4,WTPT-5,WPATH,WPOL,XLogP,Zagreb
nAcid,1.000000,0.243518,0.091095,0.121448,0.060198,0.134609,0.116454,0.043003,0.121425,-0.018790,...,0.114178,0.114287,-0.112722,0.116382,0.120627,0.004035,0.014814,0.107746,0.004302,0.118274
ALogP,0.243518,1.000000,-0.255028,-0.074840,-0.250839,0.372740,0.357599,-0.308651,-0.222162,-0.351681,...,-0.240888,-0.205436,0.085229,-0.415552,-0.316737,-0.424806,-0.449348,-0.167517,0.186738,-0.171981
ALogp2,0.091095,-0.255028,1.000000,0.378497,0.429697,-0.032440,-0.034642,0.444176,0.469659,0.393746,...,0.489044,0.441499,-0.140236,0.535852,0.224825,0.520573,0.935940,0.393896,-0.004351,0.408290
AMR,0.121448,-0.074840,0.378497,1.000000,0.958476,0.517958,0.451325,0.920754,0.972396,0.817102,...,0.948124,0.977560,0.234581,0.546936,0.436380,0.391155,0.544759,0.907052,0.349198,0.963613
apol,0.060198,-0.250839,0.429697,0.958476,1.000000,0.294009,0.230697,0.992330,0.968538,0.940150,...,0.945403,0.967090,0.158927,0.528375,0.403285,0.426970,0.609934,0.910283,0.417346,0.946580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WTPT-5,0.004035,-0.424806,0.520573,0.391155,0.426970,0.064511,0.075692,0.434538,0.473202,0.374912,...,0.493880,0.456155,-0.025577,0.751433,-0.001536,1.000000,0.597059,0.349148,-0.198666,0.420492
WPATH,0.014814,-0.449348,0.935940,0.544759,0.609934,0.030939,0.018690,0.623473,0.642264,0.565408,...,0.657014,0.618856,-0.061697,0.649472,0.361278,0.597059,1.000000,0.551611,0.010922,0.582261
WPOL,0.107746,-0.167517,0.393896,0.907052,0.910283,0.316222,0.257757,0.890376,0.935823,0.793509,...,0.905838,0.942272,0.287110,0.541695,0.495769,0.349148,0.551611,1.000000,0.282610,0.967832
XLogP,0.004302,0.186738,-0.004351,0.349198,0.417346,0.096453,0.077495,0.427641,0.289006,0.501350,...,0.259598,0.290884,0.010232,-0.293713,-0.220903,-0.198666,0.010922,0.282610,1.000000,0.268606
Zagreb,0.118274,-0.171981,0.408290,0.963613,0.946580,0.423967,0.364357,0.916798,0.983682,0.802004,...,0.957970,0.990143,0.290836,0.619853,0.514149,0.420492,0.582261,0.967832,0.268606,1.000000

In [56]:
# 协方差矩阵
molt_cov = np.cov(molt.to_numpy())
molt_cov
# sns.heatmap(mol_cov, annot=True, vmax=1, square=True, cmap='Blues')

array([[118043.84040595, 132675.53620674, 123165.46845493, ...,
        168432.63572077, 120200.70446671, 181696.49611774],
       [132675.53620674, 149422.5935941 , 138334.66976985, ...,
        189025.41909454, 134156.56328827, 204281.71565653],
       [123165.46845493, 138334.66976985, 129197.42227975, ...,
        178227.74898609, 126552.16400376, 192139.16268217],
       ...,
       [168432.63572077, 189025.41909454, 178227.74898609, ...,
        251070.73394881, 174430.99356219, 271211.42337528],
       [120200.70446671, 134156.56328827, 126552.16400376, ...,
        174430.99356219, 128338.30441966, 186245.99663628],
       [181696.49611774, 204281.71565653, 192139.16268217, ...,
        271211.42337528, 186245.99663628, 293819.10821334]])

## 特征选择

In [81]:
# 相关性算法：灰色关联、皮尔逊、秩相关、肯德尔、余弦、典型相关分析、Elasticsearch相关性
fX = molt.values
fy = erapi.values
fX.shape,fy.shape

((1974, 729), (1974,))

In [86]:
molt.columns[0]

'nAcid'

In [91]:
# remove features with low variance
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=(.8 * (1 - .8)))
sel.fit(fX)
print('features whose variance equal to 0:')
sel_vars = sel.variances_
n_zero_var = 0
for i in range(len(sel_vars)):
    if sel_vars[i] == 0:
        print('{} '.format(molt.columns[i]),end=' ')
        n_zero_var += 1
print('\n\nnumber of zero variance feature: ',n_zero_var)

features whose variance equal to 0:
nB  nBondsQ  nHsNH3p  nHssNH2p  nHsssNHp  nHmisc  nsLi  nssBe  nssssBem  nsBH2  nssBH  nsssB  nssssBm  nddC  nsNH3p  nssNH2p  nsssNHp  nddsN  naOm  nsSiH3  nssSiH2  nsssSiH  nssssSi  nsPH2  nssPH  nsssP  nddsP  nsssssP  nssssssS  nSm  nsGeH3  nssGeH2  nsssGeH  nssssGe  nsAsH2  nssAsH  nsssAs  ndsssAs  nddsAs  nsssssAs  nsSeH  ndSe  nssSe  naaSe  ndssSe  nssssssSe  nddssSe  nsSnH3  nssSnH2  nsssSnH  nssssSn  nsPbH3  nssPbH2  nsssPbH  nssssPb  SHsNH3p  SHssNH2p  SHsssNHp  SHmisc  SsLi  SssBe  SssssBem  SsBH2  SssBH  SsssB  SssssBm  SddC  SsNH3p  SssNH2p  SsssNHp  SddsN  SaOm  SsSiH3  SssSiH2  SsssSiH  SssssSi  SsPH2  SssPH  SsssP  SddsP  SsssssP  SssssssS  SSm  SsGeH3  SssGeH2  SsssGeH  SssssGe  SsAsH2  SssAsH  SsssAs  SdsssAs  SddsAs  SsssssAs  SsSeH  SdSe  SssSe  SaaSe  SdssSe  SssssssSe  SddssSe  SsSnH3  SssSnH2  SsssSnH  SssssSn  SsPbH3  SssPbH2  SsssPbH  SssssPb  minHsNH3p  minHssNH2p  minHsssNHp  minHmisc  minsLi  minssBe  minssssBem  minsBH2  minssBH  minsssB  minssssBm  minddC  minsNH3p  minssNH2p  minsssNHp  minddsN  minaOm  minsSiH3  minssSiH2  minsssSiH  minssssSi  minsPH2  minssPH  minsssP  minddsP  minsssssP  minssssssS  minSm  minsGeH3  minssGeH2  minsssGeH  minssssGe  minsAsH2  minssAsH  minsssAs  mindsssAs  minddsAs  minsssssAs  minsSeH  mindSe  minssSe  minaaSe  mindssSe  minssssssSe  minddssSe  minsSnH3  minssSnH2  minsssSnH  minssssSn  minsPbH3  minssPbH2  minsssPbH  minssssPb  maxHsNH3p  maxHssNH2p  maxHsssNHp  maxHmisc  maxsLi  maxssBe  maxssssBem  maxsBH2  maxssBH  maxsssB  maxssssBm  maxddC  maxsNH3p  maxssNH2p  maxsssNHp  maxddsN  maxaOm  maxsSiH3  maxssSiH2  maxsssSiH  maxssssSi  maxsPH2  maxssPH  maxsssP  maxdsssP  maxddsP  maxsssssP  maxssS  maxaaS  maxdssS  maxddssS  maxssssssS  maxSm  maxsGeH3  maxssGeH2  maxsssGeH  maxssssGe  maxsAsH2  maxssAsH  maxsssAs  maxdsssAs  maxddsAs  maxsssssAs  maxsSeH  maxdSe  maxssSe  maxaaSe  maxdssSe  maxssssssSe  maxddssSe  maxsSnH3  maxssSnH2  maxsssSnH  maxssssSn  maxsI  maxsPbH3  maxssPbH2  maxsssPbH  maxssssPb  n9Ring  n10Ring  n11Ring  nF4Ring  nF5Ring

number of zero variance feature:  225

In [79]:
# information gain
from sklearn.feature_selection import mutual_info_regression
mu_imp = mutual_info_regression(molt.values,erapi.values)
fea_imp = pd.Series(mu_imp,index=molt.columns)
fea_imp
# fea_imp.plot(kind='barh',color='teal')

nAcid     0.005199
ALogP     0.058509
ALogp2    0.023487
AMR       0.199580
apol      0.214595
            ...
WTPT-5    0.291755
WPATH     0.210699
WPOL      0.194545
XLogP     0.115469
Zagreb    0.182063
Length: 729, dtype: float64

In [93]:
# fisher score
from skfeature.function.similarity_based import fisher_score
fish_rank = fisher_score.fisher_score(fX,fy)
fea_imp = pd.Series(fish_rank, index=molt.columns)
fea_imp

/Users/johnson/opt/anaconda3/lib/python3.8/site-packages/skfeature/function/similarity_based/fisher_score.py:59: RuntimeWarning: divide by zero encountered in true_divide
  score = 1.0 / lap_score - 1

nAcid      38
ALogP     542
ALogp2    488
AMR       304
apol      301
         ...
WTPT-5    552
WPATH     353
WPOL      352
XLogP     351
Zagreb    364
Length: 729, dtype: int64

In [ ]:
# chi-square test (normally for categorical variable)
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [ ]:
## 回归模型选择

In [ ]:
## 分类模型选择

In [ ]:
##

In [ ]:
## 草稿部分

In [6]:
adm = pd.read_excel('ADMET.xlsx')
adm

,SMILES,Caco-2,CYP3A4,hERG,HOB,MN
0,Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCC3)c4ccc(OCCN5C...,0,1,1,0,0
1,Oc1ccc2O[C@H]([C@H](Sc2c1)C3CCCCCC3)c4ccc(OCCN...,0,1,1,0,0
2,Oc1ccc(cc1)[C@H]2Sc3cc(O)ccc3O[C@H]2c4ccc(OCCN...,0,1,1,0,1
3,Oc1ccc2O[C@H]([C@@H](CC3CCCCC3)Sc2c1)c4ccc(OCC...,0,1,1,0,0
4,Oc1ccc2O[C@H]([C@@H](Cc3ccccc3)Sc2c1)c4ccc(OCC...,0,1,1,0,0
...,...,...,...,...,...,...
1969,COc1cc(OC)cc(\C=C\c2cccc(OS(=O)(=O)C3CC4OC3C(=...,0,1,1,0,1
1970,Oc1ccc(cc1)C2=C(C3OC2CC3S(=O)(=O)Oc4cccc(\C=C\...,0,1,1,0,1
1971,Oc1ccc(cc1)C2=C(C3OC2CC3S(=O)(=O)Oc4ccc(\C=C\c...,0,1,0,0,1
1972,Oc1ccc(cc1)C2=C([C@H]3O[C@H]2C[C@@H]3S(=O)(=O)...,0,1,0,0,1
1973,COc1cc(OC)cc(\C=C\c2ccc(OS(=O)(=O)[C@H]3C[C@H]...,0,1,1,0,1

In [7]:
adm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SMILES  1974 non-null   object
 1   Caco-2  1974 non-null   int64
 2   CYP3A4  1974 non-null   int64
 3   hERG    1974 non-null   int64
 4   HOB     1974 non-null   int64
 5   MN      1974 non-null   int64
dtypes: int64(5), object(1)
memory usage: 92.7+ KB

In [8]:
adm.describe()

            Caco-2       CYP3A4         hERG          HOB           MN
count  1974.000000  1974.000000  1974.000000  1974.000000  1974.000000
mean      0.384498     0.740122     0.556738     0.257852     0.766971
std       0.486600     0.438679     0.496896     0.437563     0.422868
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     1.000000
50%       0.000000     1.000000     1.000000     0.000000     1.000000
75%       1.000000     1.000000     1.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000